body {
  padding: 0;
  display: block;
  min-height: 100vh;
}

#root {
  height: 100vh;
}

.left-pane {
  border-right: 1px solid #ccc;
  padding: 8px;
  box-sizing: border-box;
}

.right-pane {
  display: flex;
  flex-direction: column;
  width: 100%;
}.tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
  overflow-x: auto;
  scroll-behavior: smooth; /* smooth scrolling */
  -webkit-overflow-scrolling: touch; /* smooth on iOS */
  max-width: calc(100vw - 50px);
  background: #fafafa;

  /* optional: hide scrollbar but keep scroll */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #ccc transparent;
}

.tabs::-webkit-scrollbar {
  height: 6px; /* horizontal scrollbar height */
}

.tabs::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

.tabs::-webkit-scrollbar-track {
  background: transparent;
}

.tab {
  padding: 8px 12px;
  min-width: 130px;
  font-size: 13px;
  cursor: pointer;
  border-right: 1px solid #e0e0e0;
  white-space: nowrap;
  max-width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background 0.2s, transform 0.2s;

  /* optional: hover effect */
}
.tab:hover {
  background: #f0f0f0;
  transform: scale(1.03);
}
 
.tab.active {
  background-color: #ddd;
  font-weight: 600;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .tabs {
    background: #1e1e1e;
    border-bottom: 1px solid #333;
  }

  .tab {
    border-right: 1px solid #333;
    color: #eee;
  }

  .tab:hover {
    background: #2a2a2a;
  }

  .tab.active {
    background-color: #444;
    font-weight: 600;
  }
}


.tab-content {
  flex: 1;
  
  overflow-y: auto;
  padding: 8px;
  box-sizing: border-box;
}


/* Intro section */
.intro {
  margin:  0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(39, 40, 44, 1);
  color: white;
}

.intro h1 {
  font-size: 16px;
  margin: 0;
}

.intro p {
  font-size: 1.1rem;
  color: white;
  margin-bottom: 0;
}
